﻿@section scripts {

    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            var teller = $.connection.tellerhub;
            teller.command = function (msg) {
                $("#messages").append("<li>" + msg + "</li>");
            };

            $("#add").click(function () {
                teller.update($("#msg").val());
            });

            $.connection.hub.start();
        })
    </script>

}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <input type="text" id="msg" />
        <br />
        <br />
        <button type="submit" id="add" value="Add">Add</button>
        <ol id="messages"></ol>
    </div>
</div>